.border{
    height: 395px;
    width: 350px;
    border: 3px;
    border-color: black;
    border-radius: 30%;
    background-color: #555;
}

.booktitle{
    position: fixed;
    top: 50%;
    left: 20%;
    text-align: center;
}


.book1{
    position: fixed;
    top: 45%;
    left: 15%;
}

.bookcover{
    position: fixed;
    top: 60%;
    left: 20%;
}